<!DOCTYPE html>
 <html lang="en">

 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="Hello">
     <meta name="author" content="me">

     <title>DBOAS - Login</title>

 </head>

 <body>

     <div class="page" style="margin-top:140px">

         <div class="container" style="margin-top:140px">
             <div class="header">
                <h1>Hello</h1>
             </div>
             <div class="content" style="margin-top:100px">
                 <h2>Login</h2>
                 <form action="/login" method="post" role="form">
                     <b>Username</b></br>
                     <input type="text" name="username" placeholder="francisco.andrade" required></br>
                     </br>
                     <b>Password</b></br>
                     <input type="password" name="password" placeholder="14072017" required></br>
                     </br>


                     <button type="submit" value="submit">Submit</button>
                 </form>
             </div>

         </div>
     </div>

 </body>

 </html>